@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

:root{
    --background-color:#F5F5F5;
    --color:#333333;
    --filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    --box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
}
header{
    background-color: #49498c;
    width: 100%;
    height: 20%;
    display: table;
    top: 0;
    position: sticky;
    z-index: 1;
}
/*отступы и границы для элементов */
body, h1, p, a, ul, li, img {
    margin: 0;
    padding: 0;
    border: none;
}

/*  шрифты и размер текста */
body {
    font-family: 'Bitter', serif; /* использование шрифта  */
    font-size: 1rem; /* размер текста - rem */
    line-height: 1.5; /* высота строки */
}

h1 {
    font-size: 1.5rem; /* увеличиваем размер заголовка */
    font-weight: bold; /* добавляем жирный шрифт */
    text-align: center; /* выравнивание по центру */
    margin-bottom: 80px; /* отступ снизу */
}
form label[for="reason"] {
    font-size: 1.2rem; /* увеличиваем размер заголовка */
    font-weight: bold; /* добавляем жирный шрифт */
    text-align: center; /* выравнивание по центру */
    margin-bottom: 20px; /* отступ снизу */
    margin-top: 300px;
    margin-left: auto;
}

p {
    background-color: var(--background-color) ; /* устанавливаем фоновый цвет */
    color: var(--color); /* цвет текста */
    padding: 10px; /* добавляем отступы внутри */
    margin-bottom: 10px; /* отступ снизу */
    font-size: 0.8rem; /* уменьшаем размер текста в абзацах*/
    text-indent: 20px; /* +отступ первой строки */
    word-spacing: 5px; /*  пробелы между словами */
    letter-spacing: 1px; /* пробелы между буквами */
    font-style: italic; /* добавляем курсив*/
    text-transform: uppercase; /* верхний регистр */
}

a {
    color: #007BFF; /* устанавливаем цвет ссылок */
    text-decoration: none; /* убираем подчеркивание у ссылки */
    margin-bottom: 10px; /*  отступ снизу */
}

img {
    width: 50%; /* устанавливаем ширину картинки от родительского элемента */
    display: block; /* картинка == блочный элемент */
    margin-bottom: 10px; /* отступ снизу */
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--box-shadow); /* устанавливаем тень */
    filter: var(--filter);
}

ul {
    list-style-type: none; /* убираем маркеры у списка */
    margin-bottom: 10px; /* отступ снизу */
}

li {
    margin-left: 20px; /* отступ слева */
}

footer {
    padding: 10px
}

article {
    border: 1px solid #ccc;
    padding: 40px;
    margin: 40px 0 40px 20px;
}
aside{
    width: 100%;
}
.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

td {

    border: 1px solid grey;

}
main{
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; /*позволяет элементам переноситься на новую строку при нехватке места по горизонтали.*/

}

.table_container {

    /*grid-gap: 10px;*/

}
caption{
    display: flex;
    justify-content: flex-start;
}
.table_container tbody{
    display: grid;
    grid-template-columns:repeat( 4, 1fr);
    justify-content: center;
    border: 2px solid black;

}
.table_container tbody tr th{
    border: 1px solid #808080;

}
.table_container tbody tr {
    display: contents;
    justify-content: center;
}

.table_container tbody tr th:nth-child(even) {
    background-color: wheat;
}

.table_container tbody tr th:nth-child(odd) {
    background-color: #808080;
}

@media screen and (max-width: 768px) {
    .img {
        width: 150%;
        display: flex;
    }
}

@media screen and (min-width: 10px), (orientation: landscape){
    .img {
        width: 50%;
        display: flex;
    }
}
.nav-container h2 a{
    color: black;
}

/* Обычное состояние пунктов меню */
.nav-container ul li a {
    color: #000;
}

/* Стиль при наведении на пункт меню */
.nav-container ul li a:hover {
    color: #f00;
    font-weight: bold;
}

/* Стиль активного пункта меню */
.nav-container ul li a.active{
    color: #ff00fb;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .img {
        width: 150%;
        display: flex;
    }
}

@media screen and (min-width: 10px), (orientation: landscape){
    .img {
        width: 50%;
        display: flex;
    }
}
.nav-container h2 a{
    color: black;
}

/* Обычное состояние пунктов меню */
.nav-container ul li a {
    color: #000;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: calc(100vh - 100px); /* Вычитаем высоту header */
}