@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

    :root{
        --background-color:#F5F5F5;
        --color:#333333;
        --filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
        --box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.3);
    }
    /*отступы и границы для элементов */
    body, h1, p, a, ul, li, img {
        margin: 0;
        padding: 0;
        border: none;
    }

    /*  шрифты и размер текста */
    body {
        font-family: 'Bitter', serif; /* использование шрифта  */
        font-size: 1rem; /* размер текста - rem */
        line-height: 1.5; /* высота строки */
    }

    h1 {
        font-size: 1.5rem; /* увеличиваем размер заголовка */
        font-weight: bold; /* добавляем жирный шрифт */
        text-align: center; /* выравнивание по центру */
        margin-bottom: 20px; /* отступ снизу */
    }

    p {
        background-color: var(--background-color) ; /* устанавливаем фоновый цвет */
        color: var(--color); /* цвет текста */
        padding: 10px; /* добавляем отступы внутри */
        margin-bottom: 10px; /* отступ снизу */
        font-size: 0.8rem; /* уменьшаем размер текста в абзацах*/
        text-indent: 20px; /* +отступ первой строки */
        word-spacing: 5px; /*  пробелы между словами */
        letter-spacing: 1px; /* пробелы между буквами */
        font-style: italic; /* добавляем курсив*/
        text-transform: uppercase; /* верхний регистр */
    }

    a {
        color: #007BFF; /* устанавливаем цвет ссылок */
        text-decoration: none; /* убираем подчеркивание у ссылки */
        margin-bottom: 10px; /*  отступ снизу */
    }

    img {
        width: 50%; /* устанавливаем ширину картинки от родительского элемента */
        display: block; /* картинка == блочный элемент */
        margin-bottom: 10px; /* отступ снизу */
        margin-left: auto;
        margin-right: auto;
        box-shadow: var(--box-shadow); /* устанавливаем тень */
        filter: var(--filter);
    }

    ul {
        list-style-type: none; /* убираем маркеры у списка */
        margin-bottom: 10px; /* отступ снизу */
    }

    li {
        margin-left: 20px; /* отступ слева */
    }

    footer {
        padding: 10px
    }
